.header {
    max-width: 1600px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-bg-color);
    border-bottom: 1px solid #ECECEC;
    // &-container {
    //     display: flex;
    //     align-items: center;
    // }
    &__logo {
    margin-right: 93px;
    }
}

.container--header {
    display: flex;
    align-items: center;
}

.nav__list {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    display: block;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--duration-time) var(--function-time);
    &:focus,
    &:hover {
        color: var(--accent-color);               
    }
    &--active {
    color: var(--accent-color);
    position: relative;
    &::after {
        position: absolute;
        content: "";
        display: inline-block;    
        width: 100%;
        height: 4px;
        left: 0;
        bottom: 0;    
        background-color: var(--accent-color);
        border-radius: 2px;    
        }
    }
}

.contact {    
    padding-inline-start: 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; 
    &__link {
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color var(--duration-time) var(--function-time);
        &:focus,
        &:hover {
            color: var(--accent-color);
        }
    }
    &__phone,
    &__mail {
        fill: currentColor;
        margin-right: 10px;
    }
    &__item:not(:last-child) {
        margin-right: 50px;
    }
}
