
.hero {    
    max-width: 1600px;
    // min-height: 600px;
    // padding-top: 200px;
    // padding-bottom: 200px;
    padding-top: 118px;
        padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url(../images/hero-bg-mob.jpg);
    @include retina {
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-mob2x.jpg);
    }
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: var(--second-bg-color);  
    @include tablet {
        background-image: linear-gradient(to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url(../images/hero-bg-tab.jpg);
        @include retina {
            background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero-bg-tab2x.jpg);
        }
    }

    @include desktop {
        min-height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-image.jpg);
        @include retina {
            background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero-bg-image2x.jpg);
        }
    }

    &__title {
        color: var(--white-text-color);
        max-width: 360px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin: 0 auto;
        margin-bottom: 30px;
                
        @include desktop {
            max-width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }
    }

    &__button {
        color: var(--white-text-color);
        background-color: var(--accent-color);
        font-family: "Roboto";
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        padding: 10px 32px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border-style: none;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
