:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --white-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --second-bg-color: #2F303A;
    --third-bg-color: #F5F4FA;
    --duration-time: 250ms;
    --function-time: cubic-bezier(0.4, 0, 0.2, 1);
}